.footer{
    background: linear-gradient(36deg, #1f1e23 8%, #4a403a 89%)!important;
    height: 90px;
}

.fonte-footer{
    color: white;
    font-size: 20px;
}

.fonte-footer2{
    color: white;
    font-size: 20px;
}