.back2{
    background-image: url("/src/assets/img/peakyblinders.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: calc(100vh - 138px);

    background-size: cover;
    background-position: center;
    width: 500px;
    
}

.postagem{
    color: white!important;
    font-weight: bold!important;
    margin-left: 195px!important;
    
}

.expresse{
    margin-left: 10px!important;
    color: rgb(255, 255, 255)!important;
    font-weight: bold!important;
}

.bemvindo{
    color: white!important;
    font-weight: bold!important;
}


